@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

:root{
    --primary-color:#071A52;
    --secondary-color:#17B978;
}

.container{
    max-width:800px;
    margin:auto;
    padding:1rem;
    margin-top:2rem;
}

p, span{
    font-family:'Montserrat',sans-serif;
    font-weight:540;
}

h2,h3,h4{
    font-family:'Montserrat',sans-serif;
    font-weight:800;
    color:var(--primary-color);
}
.course-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 10vw;
}
.course-flex-container{
    font-family:'Montserrat',sans-serif;
    font-weight:540;
    flex: 1 0 30%;
    flex-wrap: wrap;
    padding: 10px;
    margin: 2rem;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 9px 8px 14px -5px rgba(0,0,0,0.63);
    border-style:dashed;
}

.course-flex-container:hover{
    background-color:#D4EDE2;
}

.syllabus-list{
    font-family:'Montserrat',sans-serif;
    font-weight:540;
    list-style: none;
    padding:0.5rem;
}

.course-duration{
    padding:1rem;
}

.duration-title{
    text-decoration:underline;
    text-decoration:#17B978;
}

.syllabus-list-specialisation{
    font-family:'Montserrat',sans-serif;
    font-weight:540;
    list-style: none;
    padding:0.5rem;
    text-align:left;
}

.course-titles{
    display:inline;
    color:var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    font-size:1.5rem;
}

.course-titles:hover{
    text-decoration:none;
    color:var(--secondary-color);
    font-size:1.5rem;
}