@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Paytone+One&display=swap');
:root {
    --primary-color: #071A52 ;
    --secondary-color:#17B978;
}
.color-nav{
    background-color:#071A52;
    width:100vw;
    left:0;
}
